[submodule "mixr"]
	path = mixr
	url = https://github.com/piegfx/mixr
[submodule "lib/shaderc"]
	path = lib/shaderc
	url = https://github.com/google/shaderc
[submodule "lib/SPIRV-Cross"]
	path = lib/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
